version: "3.8"

services:
  
  # cache server
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  # web app
  web:
    build: .
    ports:
      - "5000:5000"
    depends_on:
      - redis